* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.homepage-root-container {
  background-color: #232f3e;
}

.homepage-nav {
  padding: 10px;
  display: flex;
  color: white;
  background-color: #131921;
  align-items: center;
  gap: 12px;
}

.homepage-nav > h4 {
  width: 80px;
}

.homepage-nav > p {
  width: 84px;
  font-size: 13px;
}

.homepage-search-bar {
  flex-grow: 1;
  height: 30px;
  display: flex;

  input {
    flex-grow: 1;
    border: none;
  }

  button {
    width: 30px;
    background-color: #e49d43;
    margin-left: -1px;
  }
}

.homepage-category-bar {
  background-color: #232f3e;
  padding: 10px 16px;
  height: 38px;
  display: flex;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: transparent;
    padding: 4px 8px;
    color: white;
    border: none;
    gap: 4px;
  }
}

.homepage-category-bar > .category-items {
  display: flex;
  align-items: center;
  color: white;
  gap: 16px;
  padding: 0 12px;
}

.homepage-body > .carausal-img {
  width: 100%;
  height: 615px;
}

.homepage-body > .products-card-container {
  top: -350px;
  position: relative;
  margin: 0 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.products-info-card {
  background-color: aliceblue;
  flex-basis: 340px;
  flex-grow: 1;
  padding: 12px 16px;

  h3 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .products-info-card-container {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    .products-item-card {
      width: calc(50% - 8px);
    }

    .products-item-card > p {
      font-size: 14px;
    }

    img {
      width: 100%;
      height: 106px;
    }
  }
}

.search-page-container {
  margin: auto;
  background-color: cadetblue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.search-page-container-item {
  background-color: aliceblue;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  height: 400px;

  p {
    text-align: center;
    padding-bottom: 10px;
  }
  
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.homepage-nav {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #131921;
  color: #fff;
}

.homepage-nav > h4 {
  width: 100px;
  font-size: 24px;
  font-weight: bold;
}

.homepage-nav > p {
  width: 120px;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
}

.homepage-search-container {
  height: 40px;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
}
.homepage-search-container select {
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
}

.homepage-search-container input {
  flex-grow: 1;
  height: 100%;
  border: none;
  padding: 0 10px;
  outline: none;
  font-size: 16px;
}

.homepage-search-container button {
  height: 100%;
  padding: 0 15px;
  background-color: #f90;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.homepage-search-container button:hover {
  background-color: #e68a00;
}

.homepage-nav > h5 {
  font-size: 18px;
  cursor: pointer;
}

.homepage-nav > h5:hover {
  text-decoration: underline;
}

.nav-icons {
  display: flex;
  gap: 16px;
  margin-left: auto; 
}

.nav-icons > div {
  cursor: pointer;
}



.homepage-category-bar {
  background-color: #222F3E;
  padding: 10px 16px;
  height: 40px;
  display: flex;
  align-items: center;
}

.homepage-category-bar button {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  background-color: transparent;
  padding: 4px 8px;
  color: white;
  border: none;
}

.category-items {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
  padding: 0 12px;
}

.homepage-body > .carousal-image {
  width: 100%;
}
.homepage-body > .products-cards-container {
  top: -360px;
  position: relative;
  margin: 0 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.products-info-card {
  background-color: white;
  flex-basis: 340px;
  flex-grow: 1;
  height: 350px;
}

.products-info-card h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.products-item-cards-container {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.products-item-card {
  width: calc(50% - 8px);
}

.products-item-card img {
  width: 100%;
  height: 106px;
}

.products-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #f7f7f7;
}

.search-product-card {
  display: flex;
  align-items: flex-start;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.search-product-card:hover {
 cursor: pointer;
}

.image-container {
  background-color: #F7F7F7;
  padding: 8px;
  border-radius: 8px;
  margin-right: 16px;
}

.product-image {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.product-info {
  flex: 1;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-price {
  font-size: 14px;
  margin-bottom: 8px;
}

.product-description {
  font-size: 14px;
  color: #555;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* ProductInfo.css */

.product-container {
  display: flex;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px 0 0 130px;
  background-color: #fff;
}

.product-image {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
}

.product-image img {
  width: 100%;
  border-radius: 8px;
}

.product-details {
  flex: 2;
  display: flex;
 
  flex-direction: column;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
 
  margin-bottom: 20px;
}

.product-price {
  font-size: 22px;
  margin-top: auto;
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #f59e1b;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  /* margin-top: 10px; */
  align-self: flex-start;
}

.add-to-cart-button:hover {
  background-color: #e68a00;
}
.product-brand{
  color: #007195;
}




/* Styling Footer */

.footer-container {
  height: 300px;
  background: #000;
}



/* Signup Form */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  padding: 50px 0;
  background-color: #f0f0f0;
  min-height: 100vh; /* Ensure container covers full viewport height */
}

.signup-container .auth-form {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Adjust top margin to create gap */
}

.signup-container .auth-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.signup-container .form-group {
  margin-bottom: 15px;
}

.signup-container .form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.signup-container .form-control.error {
  border-color: red;
}

.signup-container .error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  text-align: center;
}

.signup-container button {
  width: 100%;
  padding: 12px 20px;
  background-color: #f90;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.signup-container button:hover {
  background-color: #e68a00;
}

/* Login Form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  padding: 50px 0;
  background-color: #f0f0f0;
  min-height: 100vh; /* Ensure container covers full viewport height */
}

.login-container .auth-form {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Adjust top margin to create gap */
}

.login-container .auth-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.login-container .form-group {
  margin-bottom: 15px;
}

.login-container .form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.login-container .form-control.error {
  border-color: red;
}

.login-container .error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  text-align: center;
}

.login-container button {
  width: 100%;
  padding: 12px 20px;
  background-color: #f90;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-container button:hover {
  background-color: #e68a00;
}